<table ng-table="tableParams" class="table" show-filter="true" cellspacing="0" width="100%">
              <tr ng-repeat="event in $data">
                <td data-title="'Unidad'" filter="{id: 'text'}" sortable="'id'">{{ event.UnitId }}</td>
                <td data-title="'Tipo'" filter="{tipo: 'text'}" sortable="'cliente'">{{ event.pumping }}</td>
                <td data-title="'Fecha'" filter="{tipo: 'text'}" sortable="'cliente'">{{ event.utcTimestampSeconds * 1000 | date: 'yyyy-MM-dd HH:mm:ss Z' }}</td>
                <td data-title="'% Combustible'" filter="{fuelLevel: 'text'}" sortable="'fuelLevel'">{{ event.fuelLevel}}</td>
              </tr>
</table>